.packTable {
    display: flex;
    width: 90%;
    justify-content: center;
    border-collapse: collapse;
}

.packTable table {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.packTable th, td {
    display: flex;
    min-width: 25%;
    justify-content: center;
    padding: 10px 0;
    color: #baacac;
    background-color: rgba(252, 249, 249, 0.1);
    margin: 1px;

}

.packTable th {
    color: #282c34;
    background-color: rgba(97, 218, 251, 0.76);
    box-shadow: 0 0 10px rgba(253, 252, 252, 0.62);

}

.links a {
    margin-left: 5px;
    color: #baacac;
}

.packTable img {
    height: 25px;
    margin: auto 5px;
}

.packTable tr {
    display: flex;
    width: 100%;

}