.avatar{
  display: flex;
  flex-direction: row;
  height: 40px;
  justify-content: flex-end;
  align-items: center;
  width: 95%;
  color: rgba(97, 218, 251, 0.76);
  & img{
    height: 70px;
    margin-top: 50px;
  }
}